@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.smallHeading {
  @apply text-[#A4CD3A] text-sm font-medium;
}

.heading {
  @apply text-white md:text-3xl text-2xl font-normal;
}

.padding-y {
  @apply py-12;
}

.padding-x {
  @apply lg:px-20 md:px-12 px-6;
}

.transitionItem {
  @apply transition duration-200 ease-in;
}

button {
  @apply transitionItem;
}

.maxW {
  @apply max-w-[1440px] mx-auto;
}

.sidebarScrollbar::-webkit-scrollbar {
  width: 6px;
}

.sidebarScrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.sidebarScrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
}

.sidebarScrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.sidebarScrollbar li {
  @apply text-sm;
}
